@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&family=Outfit:wght@500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;;
}
:root{
    font-size: 14px;
    /*====PRIMARY COLOR====*/
    --CREAM: hsl(30, 38%, 92%);
    --D-CYAN: hsl(158, 36%, 37%);
    --VD-CYAN: hsl(158, 43%, 25%);

    /*====NATURAL COLOR======*/
    --VD-BLUE: hsl(212, 21%, 14%);
    --D-GRY-BLUE: hsl(228, 12%, 48%);
    --WHITE: hsl(0, 0%, 100%);

}

body{
    max-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--CREAM);
    padding: 3rem;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--WHITE);
    border-radius: 1rem;
    inline-size: 30rem;
    block-size: auto;
    gap: 0.5rem;
    overflow: hidden;
    flex-basis: 100%;
}

.sub-cont{
    max-inline-size: 30rem;
    block-size: max-content;
}

picture{
    display: flex;
    flex-direction: column;
    max-inline-size: 100%;
    align-items: center;
    justify-content: center;
    block-size: auto;
    object-fit:contain;
    object-position: center;
}

.margin{
    margin-block: 0.5rem;
}


P.top{
    color:var(--D-GRY-BLUE);
    font-family: 'Montserrat', sans-serif;
    text-align: start;
}

h1{
    font-size:3.5rem;
    font-weight: 700;
    font-family: 'Fraunces', serif;
}

.content{
    display: flex;
    flex-direction: column;
    min-inline-size: 100%;
    block-size: 100%;
    padding: 2rem;
}
p{
    line-height: 2rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--D-GRY-BLUE);
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    inline-size: 100%;
}

.tag{
    color: var(--D-CYAN);
}

.ruled-out{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--D-GRY-BLUE);
    padding-inline-start: 2rem;
    font-size: small;
    text-align: center;
}

a{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    padding: 0.5rem;
    block-size: 3rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-block-start: 1rem;
    background-color: var(--D-CYAN);
    border-radius: 0.5rem;
}

.a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a img{
    inline-size: 1rem;
    margin-inline-end: 1rem;
}

a:hover{
    background-color: var(--VD-CYAN);
    cursor: pointer;
}

.add{
    color: var(--WHITE);
}

@media (min-width: 30rem) {

    body{
        display: flex;
        flex-wrap: wrap;
        max-block-size: 100vh;
    }

    .container{
        max-inline-size: 61rem;
        flex-direction: row;
        max-block-size: 70%;
        gap: 1rem;
    }

    .margin{
        margin: 1rem;
    }

    picture{
        max-block-size: 100%;
    }
    
    picture img{
        display: block;
        max-inline-size: 30rem;
        block-size: auto;
    }



    .sub-cont{
        display: flex;
        flex-direction: column;
        max-inline-size: 30rem;
        inline-size: 100%;
        flex: 0 0 30rem;
    }

    .content{
        min-block-size: 100%;
        min-inline-size: 100%;
        flex: 0 0 30rem;
    }
}